.white-strip
  .wrapper.padding2
    .title
      Работа администратором массажного салона. От
      %span.light 80 000 рублей
      в месяц.



.wrapper.padding1
  .benefits-header
    Условия работы:
  .benefits
    .benefit
      Женщина от 25 до 45 лет
    .benefit
      Зарплата раз в двое суток
    .benefit
      Вы получаете от 80 000 рублей в месяц
    .benefit
      Сменный график 2/2




.wrapper
  .phone
    8 968 878 68 44
    .small
      (Директор Тамара)


.wrapper
  .order-button
    Хочу у вас работать

#map

.modal-overlay
.modal-dialog
  .header
    Заполните форму
  .body
    %form{action: '#'}
      %input{type: :text, name: :username, placeholder: 'Введите ваше имя'}
      %input{type: :text, name: :phone, placeholder: 'Введите ваш телефон'}
      %button#send-order
        Отправить

.modal-thank-you
  .header
    Спасибо!
  .body
    Мы свяжемся с вами уже очень скоро.


    %button#hide-thank-you
      Я буду ждать!


%script#balloon-template{type: :template}
  .balloon
    .content
      ООО "Мир Массажа"
      %br
      ул. Степана Супруна, дом 12
      %br
      тел: 8 903 294 61 21
    .arrow-up